@import './../../common/styles/sass/variables';

.toggle {
    position: absolute;
    top: 50%;
    left: 12%;
    margin-left: 10px;
    margin-left: 10px;
    width: 60px;
    height: 25px;
    transform: translate(-50%, -50%);

    transition: all 0.6s;

    @media screen and (max-width: 1220px) {
        left: 15%;
    }

    @media screen and (max-width: 780px) {
        left: 20%;
    }

    @media screen and (max-width: 510px) {
        left: 5%;
        margin-left: 30px;
    }

    @media screen and (max-width: 450px) {
        margin-left: 18px;
        top: 130%;
    }

    .active {
        color: $primaryColor;
    }

    span {
        cursor: pointer;
        color: $textColor;

        &:nth-child(2) {
            cursor: auto;
            color: $primaryColor;
            padding: 0 5px;
        }
    }
}