@import './common/styles/sass/variables';


* {
    transition: all 0.02s;
}

.App {
    div {
        &:nth-child(n) {
            background-color: $bgSecondary;
        }

        &:nth-child(2n) {
            background-color: $bgPrimary;
        }
    }
}

::-webkit-scrollbar {
    background-color: $bgSecondary;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 9em;

    &:hover {
        background-color: $textColor;
    }
}