@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.button {
  margin-top: 25px;
  background-color: #252527;
  
  .copyNumber {
  background-color: $bgSecondary;
  color: $textColor;
  opacity: 0.4;
  text-align: center;
}
}